<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Weft" Manufacturer="Weft" Version="$(var.Version)" UpgradeCode="6f3b8c2e-5a41-4d7e-9b0c-2e8f1a7d4c90" Scope="perMachine">
    <MajorUpgrade DowngradeErrorMessage="A newer version of Weft is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Icon Id="weft.ico" SourceFile="crates\weft-gui\icons\icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="weft.ico" />
    <Property Id="ARPURLINFOABOUT" Value="https://github.com/qateralong/weft" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="Weft" />
    </StandardDirectory>

    <Feature Id="Main">
      <Component Directory="INSTALLFOLDER">
        <File Source="$(var.Bin)\weftd.exe" KeyPath="yes" />
        <ServiceInstall Name="weftd" DisplayName="Weft" Description="Weft peer-to-peer virtual LAN" Type="ownProcess" Start="auto" ErrorControl="normal" Arguments="service run" />
        <ServiceControl Id="weftd" Name="weftd" Start="install" Stop="both" Remove="uninstall" Wait="yes" />
      </Component>
      <Component Directory="INSTALLFOLDER">
        <File Source="$(var.Bin)\wintun.dll" KeyPath="yes" />
      </Component>
      <Component Directory="INSTALLFOLDER">
        <File Source="$(var.Bin)\weft.exe" KeyPath="yes" />
        <Environment Id="Path" Name="PATH" Value="[INSTALLFOLDER]" Part="last" Action="set" System="yes" />
      </Component>
      <Component Directory="INSTALLFOLDER">
        <File Id="WeftGui" Source="$(var.Bin)\weft-gui.exe" KeyPath="yes">
          <Shortcut Id="StartMenu" Name="Weft" Directory="ProgramMenuFolder" WorkingDirectory="INSTALLFOLDER" Icon="weft.ico" Advertise="yes" />
        </File>
        <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Run" Name="Weft" Type="string" Value="&quot;[INSTALLFOLDER]weft-gui.exe&quot; --hidden" />
      </Component>
    </Feature>
  </Package>
</Wix>
